p {
    font-family: sans-serif;
    font-size: 8px;
    color: blue;
    background-color: grey;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    font-size: 14px;
}

h1 {
    font-weight: bold;
}

h2, h3, h4, h5, h6 {
    font-style: italic;
}
